div
  = form_for(@potential_client) do |f| 
    - if @potential_client.errors.any?
      #error_explanation
        h2 = pluralize(@potential_client.errors.count, "error") 
          | prohibited this potential_client from being saved:          
        ul
          - @potential_client.errors.full_messages.each do |message|
            li = message
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :title
      = f.text_field :title
      = f.hidden_field :built_with_id
      = f.hidden_field :user_id, value: current_user.id
    .actions
      = f.submit class: "btn"
