<nav>
  <div class="nav-wrapper">
      <a href="#" class="brand-logo">OutReach</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <li><a href="#">Potential: <span class="badge">36</span></a></li>
          <li>
            <i class="material-icons settings_backup_restore"></i>
            <a class="right hide-on-med-and-down dropdown-button" href="#!" data-activates="dropdown2">Potencial Clients<i class="mdi-navigation-arrow-drop-down right"></i></a>
          </li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Lista</a><span class="new badge">1</span></li>
        <li><a href="#!">Estadisticas</a></li>
      </ul>
  </div>
</nav>
