nav
  .nav-wrapper
    a.brand-logo href="http://softwarecriollo.com" target="_blank"
      = image_tag '/images/softwarecriollo_lowres.png', id: 'logo-sc'
    ul#nav-mobile.right.hide-on-med-and-down
      li
        = link_to "Log Out", destroy_user_session_path, method: :delete
      li
        a href="#" 
          | Potential:
          span.badge 36
      li        
        a.right.hide-on-med-and-down.dropdown-button data-activates="dropdown2" href="#!" 
          | Potencial Clients
          i.mdi-navigation-arrow-drop-down.right
    ul#dropdown2.dropdown-content
      li
        a href="#!"  Lista
      li
        a href="#!"  Estadisticas
