doctype html
html
  head
    title = yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    = csrf_meta_tags
body
  - if current_user.admin?
    = render :partial => "layouts/nav_admin"
  - else
    = render :partial => "layouts/nav"
  .container
    - if flash[:alert]
      #alert.hide = flash[:alert]
    - if flash[:notice]
      #notice.hide = flash[:notice]
    = yield
  = render 'layouts/footer'